// main: style.scss

.mTutorial {
  background: $darkThemeBgColor0;
  color: $darkThemeTextColor0;
  @include bodyText;
  width: 100vw;
  overflow-x: hidden;

  h2 {
    @include heading;
    max-width: 18em;
    @include mediaQueryMaxWidthPx(1000px) {
      font-size: 30px;
    }
  }
  h3 {
    @include tagline;
    margin-top: .5rem;
    margin-bottom: .5rem;
    // &.tighter {
    //   margin-bottom: 1rem;
    // }
  }

  p {
    @include bodyText;
    line-height: 1.6;
    margin-bottom: .5rem;
    margin-top: 1.75rem;
    @include mediaQueryMaxWidth(md) {
      margin-bottom: .5rem;
      margin-top: 1rem;
    }
    
    max-width: 28rem;
    @include mediaQueryMaxWidth(sm) {
      max-width: 80vw;
      font-size: 18px;
    }
  }

  // @media (min-width: 520px) {
  //   @for $i from 10 through 30 {
  //     .mw-#{$i} {
  //       max-width: #{$i}em;
  //     }
  //   }
  // }

  em {
    color: $darkThemeTextColor1;
    font-style: normal;
  }

  a:not(.button) {
    color: #3D98FF;
    color: #ffffff;
    color: $themeColor2;
    transition: color .15s;
    text-decoration: none;
    text-underline-offset: .1em;
    &:hover {
      color: #1784ff;
      color: #3D98FF;
      text-decoration: underline;

      color: $themeColor1;
    }
  }
  
  @import 'button';


	a.nav {
		display: block;
		margin-top: -200px;
		padding-top: 100px;
		position: absolute;
	}

	a.navTut {
		display: block;
		margin-top: -100px;
		padding-top: 100px;
		position: absolute;
		top: -7vh;
	}

	a.menu-row {
		display: block;
		padding: 26px 0 8px;
		margin-left: 26px !important;
		font-size: 0.8rem !important;

		img.menu-row {
			width: 14px !important;
			float: right;
			margin-top: -6px;
			margin-left: 24px !important;
			margin-right: 26px;
		}
	}

	a.menu-row:first-child {
		margin-top: 5px;
	}

  .smallcap {
    text-transform: uppercase;
    font-size: 0.8em;
  }
}


body {
  width: 100vw;
  overflow-x: hidden;
}

html, body, .mTutorial {
  background: black;
}

.light {
  background: $lightThemeBgColor0;
  color: $lightThemeTextColor0;
}
.dark {
  background: $darkThemeBgColor0;
  color: $darkThemeTextColor0;

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;

}


.center {
  text-align: center;
  h2, h3, p {
    margin-left: auto;
    margin-right: auto;
  }
}

.animate-opacity {
  opacity: 0;
}



.indent {
  margin-left: 0;
  padding-left: 0;
  @include mediaQueryMinWidth(lg) {
    padding-left: 2rem;
  }
  @include mediaQueryMinWidth(xl) {
    padding-left: 4rem;
  }
}

// no trailer

// #trailer-menu {
//   display: none;
// }
// .submenu-plugins-left.menu-row-top.transition {
//   max-height: 100px;
// }

.container, .container-left {
  padding: 0 1rem;
  @include mediaQueryMinWidth(md) {
    padding: 0 2rem;
  }
  @include mediaQueryMinWidth(lg) {
    padding: 0 3rem;
  }
  max-width: calc(1280px + 2 * 3rem);
}

.container-left {
  margin-left: 0;
}

// .container {
//   max-width: 1280px;
// }
// .container {
//   max-width: calc(1280px + 20vw);
// }
// .container-fluid, .container {
//   padding: 0 10vw;
// }
// @include mediaQueryMinWidthPx(1800px) {
//   .container {
//     max-width: 1280px;
//   }
//   .container-fluid, .container {
//     padding: 0 15px;
//   }
// }

// .container-left {
//   @include mediaQueryMaxWidthPx(1370px) {
//     padding-left: 5vw;
//     padding-right: 5vw;
//   }
//   @include mediaQueryMaxWidthPx(1200px) {
//     padding-left: 10vw;
//     padding-right: 10vw;
//   }
// }

.row {
  margin: 0;
}

.yt-wrapper {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  @include mediaQueryMinWidth(xl) {
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
}

.desktop-only {
  display: none;
  @include mediaQueryMaxWidth(lg) {
  }
}
.mobile-only {
  @include mediaQueryMinWidth(lg) {
    // display: none;
  }
}


// .submenu-plugins {
//   // background-image: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
//   background-image: none;

//   &::before {
//     @include pseudo;
//     bottom: unset;
//     height: 200px !important;
//     @include mediaQueryMaxWidth(md) {
//       height: 180px !important;
//     }
//     pointer-events: none;
//     background-image: linear-gradient(scrim-gradient(rgba(0, 0, 0, 0.9))) !important;
//   }

//   // #btn-buy-container .inner-container .promo-info {
//     // text-shadow:
//     //   1px 1px 3px #33333355,
//       // 1px 1px 8px #33333388,
//       // ;
//   // }
// }
.submenu-plugins .submenu-plugins-left-arrow {
  // margin-top: 96px;
}
// @media (max-width: 589px) {
//   .submenu-plugins .submenu-plugins-right {
//     margin-top: 93px;
//   }
// }


// .submenu-plugins-left:not(.menu-row-top.transition) {
//   @include mediaQueryMaxWidthPx(991.98px) {
//     opacity: 0;
//   }
// }

.min-width-1350 {
  @include mediaQueryMaxWidthPx(1309.96px) {
    display: none;
  }
}

.animate-out {
  // opacity: 0;
}


// #btn-buy-container .buy-button {
//   min-width: 7rem;
// }
#btn-buy-container.version4 .buy-list {
  width: 260px;
  max-width: 56vw;
  .buy-button {
    padding-left: .2rem;;
    padding-right: .2rem;;
  }
}



@keyframes logo-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

@mixin gradientAnimation {
  background: linear-gradient(0deg, #93d8ff, #bab9f1, #f1a1c6, #93d8ff);
  background: -webkit-linear-gradient(0deg, #93d8ff, #bab9f1, #f1a1c6, #93d8ff);
  background-size: 300% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 8s logo-anim infinite;
}

.overflow-hidden {
  overflow: hidden;
}