.button {
  cursor: pointer;
  white-space: nowrap;
  min-width: 10rem;
  font-family: Proxima;
  font-size: .7rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 2px;
  padding: .7rem 1.6rem;
  transition: all .5s ease;
  text-align: center;
  color: inherit;
  border: none;
  box-shadow: 0 0 18px 0 rgba(61,152,255,.35);
  text-decoration: none;
  position: relative;
  transition: all .5s ease;
  box-shadow: none;
  &:focus {
    outline: none;
  }
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  $s: 14px;
  > span {
    display: block;
    flex: 1;
    padding-left: .5 * $s;
  }

  &.btn-icon {
    justify-content: center;
    > span {
      display: block;
      flex: 0 0 auto;
      padding-left: 10px;
    }
    svg {
      flex: 0 0 auto;
      height: 1.5rem;
      width: auto;
    }
  }

  img, svg {
    height: $s;
    width: $s;
    flex: 0 0 20px;
    box-sizing: content-box;
    stroke: #fff;
    color: #fff;
  }

  .btn-collapse-arrow {
    transition: transform .4s;
    transform-origin: 45% 50%;
  }
  &[aria-expanded=false] {
    .btn-collapse-arrow {
        transform: rotate(90deg);
    }
    .label-expanded {
      display: none;
    }
  }
  &[aria-expanded=true] {
    .btn-collapse-arrow {
        transform: rotate(-90deg);
    }
    .label-collapsed {
      display: none;
    }
  }


  @media screen and (max-width: 355px) {
    font-size: .6rem;
    padding: .5rem .7rem;
    min-width: 5rem;
  }
  @media screen and (max-width: 589px) {
    font-size: .6rem;
    padding: .6rem .8rem;
    min-width: 5rem;
  }

  .icon {
    height: auto;
    width: 3rem;
  }
}

  .btn-outline {
    color: white;
    background-color: transparent;
    border: 1px solid white;
  }

  .btn-yellow {
    color: black;
    background-color: $color-yellow;

    &:hover {
      background-color: $color-yellow-hover;
    }
  }

  .btn-orange {
    color: black;
    background-color: $color-orange;

    &:hover {
      background-color: $color-orange-hover;
    }
  }

  .btn-blue {
    color: white;
    background-color: $color-blue;

    &:hover {
      background-color: $color-blue-hover;
    }
  }