// main: style.scss


//section.header, 
section.footer {
  background: #333;
  position: relative;
  .image-background {
    background-color: #000000;
    @include overlay;
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .container {
    position: relative;
    z-index: 1;
  }
  position: relative;
  z-index: 1;

  $min-height: 650px;
  // $max-height: 950px;    
  $max-height: 800px;    

  $min-content-height: 160px; /* set to height of the portion of the first section within which content is comfortably visible */
  $scroll-prompt-height: 34px;
  $scroll-prompt-margin: 28px;
  $scroll-prompt-margin-min: 10px;
  $scroll-prompt-height-total: $scroll-prompt-height + 2 * $scroll-prompt-margin-min;

  min-height: $min-height; /* might adjust per plugin */
  max-height: $max-height;
  height: calc(100vh - #{$min-content-height});

  @media (max-height: $min-height + $min-content-height) {
    height: calc(100vh - $scroll-prompt-height-total); /* accomodate scroll prompt */
    max-height: unset;
  }
  $break1: $min-height + $scroll-prompt-height + 2 * $scroll-prompt-margin;
  $break2: $min-height + $scroll-prompt-height + 2 * $scroll-prompt-margin-min;
  @media (max-height: $break2) {
    height: 100vh;
    max-height: unset;
  }
  @media (max-width: 480px) {
    height: 13 / 9 * 100vw;
    /* not 100vh to avoid content jump on scroll on mobile Chrome and Firefox */
  }
}

$top: (950 - 800) / 950 * 100%;

section.footer {
  // height: 1200px;
  // max-height: 13 / 9 * 100vw;
  // @include mediaQueryMinWidth(lg) {
  //   max-height: 860;
  // }
  // height: 800 / 2560 * 100vw;
  // height: 950 / 2560 * 100vw;

  padding: 0;
  margin-top: -1px;
  position: relative;
  @include flex-center;

	.container {
    padding: 2rem 2rem;
    @include mediaQueryMinWidthPx(600px) {
      padding: 4rem 2rem;
    }
    @include mediaQueryMinWidthPx(1024.02px) {
      @include flex-vertical-center;
    }
	}
  
  .text-box {
    padding-top: 2rem;
    p {
      width: 30em;
    }
  }
  #btn-buy-container {
    margin-top: 2rem;
  }
  #btn-buy-container .inner-container {
    justify-content: center;
  }

  .image-background {
		@include overlay;
    @media (min-width: 1024px) {
      top: -(950 - 800) / 800 * 100%;
    }
    @media (min-width: 2560px) {
      top: -(950 - 800) / 2560 * 100vw;
      .img {
        object-position: 34% top;
      }
    }

    background: #fff;
    .img {
      object-fit: cover;
      object-position: 50% top;
      @media (max-width: 1200px) {
        object-position: center;
      }
    }
  }


  @mixin footerBauble($delay) {
    &::before {
      transition: opacity .8s $delay;
    }
    span, em {
      transition: background-position 1.2s $delay;
    }

    &:not(.animate-in) {
      &::before {
        transition: opacity .3s;
      }
      span, em {
        transition: background-position .5s;
      }
    }
  }

  .bar {
    position: relative;
    z-index: 1;
    &::before {
      @include pseudo;
      z-index: -1;
      background: #181819;
    }
    padding: .16rem .5rem .11rem;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #ffffff;

    font-size: 18px;
    @include mediaQueryMaxWidthPx(1200px) {
      font-size: 12px;
    }

    span, em {
      background-image: linear-gradient(to right, currentColor, currentColor 45%, transparent 55%, transparent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-position: 0% center;
      background-size: 220% 100%;
    }

    &:not(.animate-in) {
      &::before {
        opacity: 0;
      }
      span, em  {
        background-position: 100% center;
      }
    }

  }
  
  .top-left .bar {
    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        @include footerBauble(($i * .2s));
      }
    }
  }
  .bottom-right .bar {
    @for $i from 1 through 2 {
      &:nth-child(#{$i}) {
        @include footerBauble(($i * .2s + 1s));
      }
    }
  }

  .top-left, .bottom-right {
    display: grid;
    grid-template-columns: auto auto;
    gap: .9rem;
    padding: 1.6rem;
    @include mediaQueryMaxWidthPx(1200px) {
      padding: 1rem;
    }
  }
  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    img {
      height: 32px;
      max-height: 5vw;
    }
  }
  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    img {
      height: 26px;
      max-height: 5vw;
    }
    .bar {
      font-size: 14.6px;
      @include mediaQueryMaxWidthPx(1200px) {
        font-size: 10px;
      }
      padding: .2rem .5rem .11rem;
    }
  }
}

