.graphic-1 {
  padding-top: 100%;
  height: 0;
  @include image-background;
  .image-background {
    margin: -200px;
  }

  .gradient {
    padding-top: 100%;
    border-radius: 50%;
    // background: conic-gradient(#4d7bbe, #d33c69, #32a345, #4d7bbe);
    // filter: blur(70px);
    // opacity: .8;
    img {
      @include overlay;
    }
  }

  p, .ring, .planet {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  p {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
    width: 6em;
    text-align: center;
    color: white;
  }

  $whiteish: #ffffff;

  @mixin size($s) {
    width: $s;
    height: $s;
  }

  @mixin planet($ring, $angle, $scale: 1, $opacity: 1, $moon-angle: 0deg) {
    transform: rotate($angle) translate(0, $ring / 2);
    opacity: $opacity;
    &::after {
      transform: translate(-50%, -50%) rotate(-$angle) scale($scale);
      @content;
    }
    &::before {
      transform: translateY(2.5rem) rotate($angle + $moon-angle) scale($scale);
    }
  }


  .ring {
    border: 1px solid $whiteish;
    border-radius: 50%;
  }
  $base: 14rem;
  $gap: 13rem;
  $ring1: $base;
  $ring2: $base + $gap;
  $ring3: $base + 1.8 * $gap;
  $ring4: $base + 2.8 * $gap;
  .ring-1 {
    @include size($ring1);
  }
  .ring-2 {
    border-style: dashed;
    @include size($ring2);
  }
  .ring-3 {
    @include size($ring3);
  }

  .planet {
    font-size: 24px;
    transform: translate(0, 0);
    transition: transform 3s, opacity 1s;
    width: 0;
    height: 0;
    &::after {
      display: inline-block;
      transform: translate(-50%, -50%);
      transition: inherit;
      @include flex-center;
    }
    ::before {
      transition: inherit;
    }
  }
  .fb, .yt, .twitter {
    &::before {
      display: block;
      @include size(.65rem);
      border-radius: 50%;
      background-color: currentColor;
      position: absolute;
      // top: 2.5rem;
      transform: translateY(2.5rem);
      content: '';
    }
  }
  .fb {
    @include planet($ring2, 155deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/fb.svg');
      @include size(3rem);
      border-radius: 8px;
    }
    color: #4163b4;
    transition-delay: .8s;
  }
  .ig {
    @include planet($ring3, -95deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/insta.svg');
      @include size(3rem);
      border-radius: 8px;
    }
    color: #b44167;
    transition-delay: .4s;
  }

  .yt {
    @include planet($ring2, -60deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/yt.svg');
      @include size(3rem);
      border-radius: 8px;
    }
    color: #ff0201;
    transition-delay: .2s;
  }
  .twitter {
    @include planet($ring3, 40deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/twitter.svg');
      @include size(3rem);
      border-radius: 8px;
    }
    color: #009ef4;
  }
  .waterfall {
    @include planet($ring3, -30deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/waterfall.jpg');
      background-size: cover;
      @include size(70px);
      border-radius: 50%;
    }
    transition-delay: 1s;
  }
  .sunset {
    @include planet($ring4, -120deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/sunset.jpg');
      background-size: cover;
      @include size(70px);
      border-radius: 50%;
    }
    transition-delay: .5s;
  }
  .road {
    @include planet($ring4, 140deg, 1, 1, 0deg);
    &::after {
      content: '';
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/road.jpg');
      background-size: cover;
      @include size(80px);
      border-radius: 50%;
    }
    transition-delay: .2s;
  }

  .dollar {
    &::after {
    content: '$';
    background-color: $color-yellow;
    color: white;
    width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
    }
  }

  .dollar-1 {
    @include planet($ring1, -30deg);
  }
  .dollar-2 {
    @include planet($ring2, 60deg);
    &,&::after {
      transition-delay: .4s
    }
  }
  .dollar-3 {
    @include planet($ring2, -140deg);
    &,&::after {
      transition-delay: .2s
    }
    transition-delay: .5s;
  }
  .dollar-4 {
    @include planet($ring3, 7deg);
    transition-delay: .2s;
  }

  .red {
    @include planet($ring3, -140deg);
    transition-delay: .2s;
    &::after {
      content: '';
      background:#ff0201;
      @include size(0.8rem);
      border-radius: 50%;
    }
  }
  .blue {
    @include planet($ring4, 100deg);
    transition-delay: .2s;
    &::after {
      content: '';
      background:#009ef4;
      @include size(1.2rem);
      border-radius: 50%;
      filter: blur(2px);
    }
  }

  &:not(.animate-in) {
    .planet {
      transition: transform 0s, opacity 0s;
      transition-delay: 0s;
    }
    .dollar-1 {
      @include planet($ring1, -30deg - 60deg, 0.2, 0);
    }
    .dollar-2 {
      @include planet($ring2, 60deg - 60deg, 0.2, 0);
    }
    .dollar-3 {
      @include planet($ring2, -140deg - 40deg, 0.2, 0);
    }
    .dollar-4 {
      @include planet($ring3, 7deg - 80deg, 0.2, 0);
    }
    .fb {
      @include planet($ring2, 155deg - 70deg, 0.5, 0, 270deg);
    }
    .ig {
      @include planet($ring3, -95deg - 40deg, 0.5, 0, 270deg);
    }
    .yt {
      @include planet($ring2, -60deg - 40deg, 0.5, 0, 270deg);
    }
    .twitter {
      @include planet($ring3, 40deg - 60deg, 0.5, 0, 270deg);
    }
    .waterfall {
      @include planet($ring3, -30deg - 40deg, 0.3, 0, 0deg);
    }
    .sunset {
      @include planet($ring4, -120deg - 80deg, 0.5, 0, 0deg);
    }
    .road {
      @include planet($ring4, 140deg - 20deg, 0.4, 0, 0deg);
    }
    .red {
      @include planet($ring3, -140deg - 30deg, 0.4, 0, 0deg);
    }
    .blue {
      @include planet($ring4, 100deg - 10deg, 0.4, 0, 0deg);
    }
  }
}