// main: style.scss

@import '_mixins';
@import 'header_base';

section.header {
  padding: 0;
  width: 100%;

  // perspective: 10000px;
  .image-background-wrapper {
    position: relative;
    height: 100%;
    z-index: -1;
    @include flex-center;
    opacity: 0;
    transition: opacity 1s;
    &.ready {
      opacity: 1;
    }
  }

  .image-background {
    // perspective: 10000px;
    // transform: translate3D(0, 0, 0);

    width: 100%;
    height: 100%;
    max-height: 100%;
    .img {
      width: 100%;
      height: 100%;
      @include mediaQueryMinWidthPx(1024px) {
        max-height: 100%;
      }
      object-fit: cover;
      object-position: center;
      // object-position: 60% center;
      // @include mediaQueryMaxWidthPx(1024px) {
      //   object-position: 75% center;
      // }
    }
    position: relative;
  }

  .container-fluid {
    height: 100%;
    position: relative;
    overflow: hidden;
    @include flex-center;
    @include overlay;
  }

  .header-box {
    @include flex-center;
    z-index: 1;
    padding-top: 3rem;

    .logo {
      margin: 0 auto 1.5rem auto;
      font-size: 80px;
      font-weight: 400;
      text-align: center;
      @include mediaQueryMaxWidthPx(700px) {
        font-size: 10vw;
        margin-top: 1rem;
      }
      flex: 0 0 auto;
      // width: 320px;
      // @include mediaQueryMaxWidth(xl) {
      //   width: 260px;
      // }
      // max-width: 50vw;
      img {
        width: 100%;
        height: auto;
      }
      opacity: 0;
      transition: opacity 1s 0s;
      .ready & {
        opacity: 1;
      }
    }
    h1 {
      .before {
        font-size: 1rem;
        word-spacing: .1rem;
        span {
          display: inline-block;
          &:not(.animate-in) {
            opacity: 0;
            transform: scale(0.9);
          }
          transition: opacity 0.2s, transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition: opacity 0.1s, transform .3s cubic-bezier(.17, 2, .63, 1);
          // @include gradient-mask(.3s);
        }
        $delay: .8s;
        span:nth-child(1) {
          font-weight: 300;
          font-size: 1rem;
          // transition-duration: .5s;
          transition-delay: .7s;
          transition-delay: $delay;
          transition-delay: $delay, $delay;
        }
        span:nth-child(2) {
          font-weight: 400;
          font-size: 1.5rem;
          // transition-delay: .75s;
          transition-delay: 1.4s;
          transition-delay: 2 * $delay, 2 * $delay;
        }
        span:nth-child(3) {
          font-weight: 700;
          font-size: 2rem;
          // transition-delay: 1s;
          transition-delay: 2.1s;
          transition-delay: 3 * $delay, 3 * $delay;
        }
      }
      .main {
        font-weight: 700;
        letter-spacing: -.018em;
        @include gradient-mask(2s .75s, 'to right', 20%);
        transition: transform .75s 1s, background-position 1.5s .75s;
        transition: transform 3s .7s, background-position 4s .7s;
        &:not(.animate-in) {
          transform: scale(1.1);
        }

        @media (min-width: 800px) {
          padding: 0 2rem;
        }
      }
    }
    p {
      text-align: center;
      opacity: 0;
      transition: opacity 1s 1.3s;
      .ready & {
        opacity: 1;
      }
      max-width: 70vw;
      @media (max-width: 800px) {
        width: 12em;
      }
      margin: 0 auto;
    }
    .icon {
      margin-top: 2rem;
      height: auto;
      $shadow-area: .3;
      // width: 49px * (1 + $shadow-area);
      width: 64px;
      @include mediaQueryMaxWidth(sm) {
        // width: 42px * (1 + $shadow-area);
        width: 55px;
      }
      opacity: 0;
      transition: opacity 1s 2s;
      .ready & {
        opacity: 1;
      }
    }
    picture:not(:last-child) .icon {
      margin-right: .6rem;
    }


    @include mediaQueryMinWidthPx(2560px) {
      max-width: 66vw;
    }
  }

  position: relative;
}
