
section.header {
    position: relative;
    z-index: 1;
  
    $min-height: 650px;
    $max-height: 860px;    

    $min-content-height: 160px; /* set to height of the portion of the first section within which content is comfortably visible */
    $scroll-prompt-height: 34px;
    $scroll-prompt-margin: 28px;
    $scroll-prompt-margin-min: 10px;
    $scroll-prompt-height-total: $scroll-prompt-height + 2 * $scroll-prompt-margin-min;
  
    min-height: $min-height; /* might adjust per plugin */
    max-height: $max-height;
    height: calc(100vh - #{$min-content-height});

    .scroll-prompt {
      margin-top: $scroll-prompt-margin;
    }

    @media (max-height: $min-height + $min-content-height) {
      height: calc(100vh - $scroll-prompt-height-total); /* accomodate scroll prompt */
      max-height: unset;
    }
    $break1: $min-height + $scroll-prompt-height + 2 * $scroll-prompt-margin;
    $break2: $min-height + $scroll-prompt-height + 2 * $scroll-prompt-margin-min;
    @media (max-height: $break1) {
      .scroll-prompt {
        @debug $break1;
        @debug $break2;
        // clamp
        // if you change value of break1 or break2, recalculate this set of linear equations:
        //    $scroll-prompt-margin = a * $break1 + b
        //    $scroll-prompt-margin-min = a * $break2 + b
        // (you can paste them into wolfram alpha e.g. 28 = a * 740 + b, 10 = a * 700 + b)
        // but... honestly, don't :) we want the pages to be coherent

        margin-top: calc(.5 * 100vh - 342px);
      }
    }
    @media (max-height: $break2) {
      height: 100vh;
      max-height: unset;
      .scroll-prompt {
        display: none;
      }
    }
    @media (min-height: $max-height + $min-content-height) {
      .scroll-prompt {
        display: none;
      }
    }

    @media (max-width: 480px) {
      height: 13 / 9 * 100vw;
      /* not 100vh to avoid content jump on scroll on mobile Chrome and Firefox */
    }
}