// main: style.scss

@import 'mixins';

  .minstaller-info {
    h4, p {
      text-align: center;
    }
    h4 {
      font-family: Proxima, sans-serif;
      font-weight: 600;
      font-size: 40px;
      margin: 1.2rem auto 1.2rem;
      @include mediaQueryMaxWidth(lg) {
        margin: 1.2rem auto .8rem;
      }
      padding: 0;
    }
    p {
      width: 27em;
      max-width: 80vw;
      margin: 1.35rem auto;
      padding: 0;
    }
    a {
      color: $themeColor2;
      text-decoration: none;
      // text-decoration-thickness: from-font;
      // text-underline-offset: 3px;
      transition: color .15s;
      &:hover {
        // color: #1784ff;
        color: $themeColor1;
        text-decoration: none;
    }
    }
  }
