// main: style.scss
$color-gray: #9A9A9A;
$color-dirty-white: #FBFBFB;
$color-blue: #3d98ff;
$color-blue-hover: #1784ff;
$color-blue-active: #1784ff;
$color-pink: #FA71A4;
$color-yellow: #F6CC24;
$color-yellow-hover: #f0bc12;
$color-orange: #FBA500;
$color-orange-hover: #f39508;


$darkThemeBgColor0: #000000;
// $darkThemeBgColor0: #060409;
// $darkThemeBgColor0: #070707;
$darkThemeTextColor0: #ffffff;
$darkThemeTextColor1: #f6cc24;
$darkThemeTextColor2: #4f34a3;
$darkThemeTextColor3: #888888;

$lightThemeTextColor0: #000;
$lightThemeBgColor0: #fff;

$darkThemeTextColor1Hover: #e4b020;
$darkThemeTextColor2Hover: #482d98;

$themeColor1: $color-blue-hover;
$themeColor2: $color-blue;

$borderRadius: 4px;

$sectionPaddingTop: 4rem;
$sectionPaddingBottom: 4rem;
$sectionPaddingTopSmall: 2rem;
$sectionPaddingBottomSmall: 2rem;

$font1: 'Proxima', sans-serif;
$font2: 'Proxima', sans-serif;

@mixin tracking($val) {
  letter-spacing: ($val / 1500) * 1em;
}

@mixin tagline {
  text-transform: uppercase;
  font-family: $font1;
  font-weight: 600;
  font-size: 14px;
  @include tracking(180);
}
@mixin heading {
  font-family: $font2;
  font-weight: 600;
  line-height: 1.3;
  font-size: 40px;
  @include mediaQueryMaxWidthPx(1000px) {
    font-size: 30px;
  }
}

@mixin bodyText {
  font-family: $font1;
  font-size: 18px;
}

@mixin smallcap {
  font-family: $font2;
  font-weight: 600;
  font-size: 20px;
  @include mediaQueryMaxWidthPx(1000px) {
    font-size: 20px;
  }
  line-height: 1.2;
  @include tracking(50);
  // font-family: $font1;
  // font-weight: 600;
  // font-size: 32px;
  // @include tracking(50);
  // text-transform: uppercase;
}

@mixin margins($size: 3rem) {
  margin: $size 0;
	@media all and (max-width: 791px) {
    margin: .66 * $size 0;
  }
}

@mixin padding($offset: 0rem, $offsetBottom: 0rem) {
  padding: $sectionPaddingTopSmall + $offset 0 $sectionPaddingBottomSmall + $offsetBottom 0;
  @include mediaQueryMinWidth {
    padding:  $sectionPaddingTop + $offset 0 $sectionPaddingBottom + $offsetBottom 0;
  }
}

$bootstrapBreakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin mediaQueryMinWidth($breakpoint: md) {
  $breakpoint: map-get($bootstrapBreakpoints, $breakpoint);
	@media all and (min-width: $breakpoint) {
    @content;
  }
}
@mixin mediaQueryMaxWidth($breakpoint: md) {
  $breakpoint: map-get($bootstrapBreakpoints, $breakpoint);
	@media all and (max-width: $breakpoint - 0.02px) {
    @content;
  }
}
@mixin mediaQueryMinWidthPx($breakpoint: md) {
	@media all and (min-width: $breakpoint) {
    @content;
  }
}

@mixin mediaQueryMaxWidthPx($breakpoint: md) {
	@media all and (max-width: $breakpoint - 0.02px) {
    @content;
  }
}



@mixin pseudo($m: 0px) {
  content: '';
  position: absolute;
  top: $m;
  bottom: $m;
  left: $m;
  right: $m;
}



@mixin pseudoBackground() {
  position: relative;
  z-index: 0;
  &::before, &::after, .background {
    @include pseudo;
    z-index: -1;
  }
}

@mixin overlay($x: 0, $y: 0) {
  position: absolute;
  top: $y;
  bottom: $y;
  left: $x;
  right: $x;
}


@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

@mixin flex-vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin fullHeight($ratio: 15 / 9) {
  height: $ratio * 100vw;
  @include mediaQueryMinWidthPx(700px) {
    height: 100vh;
  }
}

@mixin image-background {
  position: relative;
  z-index: 0;
  .image-background {
    @include overlay;
    z-index: -1;    
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @content;
  }
}

@mixin gradient-mask($duration: 1s, $direction: 'to right', $middle: 10%) {
  display: inline-block;
  transition: background-position $duration;
  background: linear-gradient(unquote($direction), currentColor, currentColor 50% - $middle / 2, transparent 50% + $middle / 2, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 2 * (100% + $middle) 2 * (100% + $middle);
  @if $direction == unquote('to bottom') {
    background-position: center 0%;
  } @else {
    background-position: 0% center;
  }
  &:not(.animate-in) {
    @if $direction == 'to bottom' {
      background-position: center 100%;
    } @else {
      background-position: 100% center;
    }
  }
}