// main: style.scss


.opacity-slider {
	@include flex-center;
	background: #000;
	user-select: none;
	position: relative;
	// display: block;
	overflow: hidden;

	.slides {
		width: 100%;
		position: relative;
	}
	.slide {
		mix-blend-mode: screen;
		&:not(:first-child) {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}
		@include flex-center;

		opacity: 0;

		$easing: cubic-bezier(0.42, 0.0, 0.58, 1.0); // ease-in-out for comparison

		$easing1: cubic-bezier(0.42, 0.0, 0.7, 1.0); // custom
		$easing2: cubic-bezier(0.3, 0.0, 0.58, 1.0); // reverse custom
		$duration: .5s;

		transition: opacity $duration $easing1;
		&.active {
			transition: opacity $duration $easing2;
			opacity: 1;
		}
		img, video {
		  object-fit: cover; /* or object-fit: contain; */
		  width: 100%;
			height: auto;
		}

	  // @media all and (max-width: 700px) {
	  //   align-items: flex-start;
	  // }
	}
}
