// main: style.scss

section.prevs {

  @include mediaQueryMinWidth(xl) { 
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  position: relative;

  // background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1332/media/mFilm-Matte_prev.jpg') no-repeat;
  background-size: contain;
  background-position: bottom;

  .image {
    text-align: right;
    padding-top: 7rem;
    img {
      height: auto;
      width: 350px;
      max-width: 80vw;
    }
  }


  .prevs-title {
    padding-bottom: 2rem;
    @include mediaQueryMaxWidth(xl) {
      padding-bottom: 0rem;
    }
    h2 {
      padding-top: 0;
      .number {
        font-size: 120px;
        line-height: 1;
        padding-right: 0.05em;
        margin: .5rem auto;
        @include gradientAnimation;
      }
      width: unset;
      max-width: 80vw;
      padding-bottom: 0rem;
    }
  }

  .hover-info {
    margin: 0 auto;
    margin-bottom: 1.05rem;
    @include tagline;
    font-weight: 400;
  }

  .button {
    margin-top: 5px + 8px + 4px + 5px;
  }

  @include mediaQueryMinWidth(lg) {
    .collapse:not(.show) {
        display: block;
    }
    .col-btn-collapse {
      display: none;
    }
  }
  // .collapsing:nth-child(n+14) {
  //   transition: none; // optimize when there are off-screen items expanded that don't need to be animated
  // }
  .collapsing {
    transition: none; // optimize all the way!
  }

  .category-name {
    @include smallcap;
    margin: 0 auto;
    text-align: center;
  }
}

.videoList {

  .frame .product-preview {
    border: 1px solid #333;
  }

  .product-grid .product .product-preview  {
    background: none;
    background-size: 99%;
  }
  .product-grid {
    justify-content: center;
    color: #000;
  }

  .container.container-lg {
    max-width: 1800px;
  }
  .row {
    padding: 1rem;
  }

  .container .product-grid {
    .product{
      padding: 0;
    }
    .product-preview {
      margin: 10px;
    }
    .product-icon {
      overflow: hidden;
      .product-preview {
        margin: 5px;
        @include mediaQueryMaxWidth(lg) {
          margin: 0 -15px;
        }
      }
    }
  }

  @media all and (max-width: 589px) {
    .container.container-lg{
        padding-left:2%;
        padding-right:2%;
    }
    .container .product-grid {
      // max-width: 1600px;
      .product{
        padding: 0;
      }
      .product-preview {
        margin: 5px 5px 0;
      }
      .prevs-title {
        padding-bottom: 1.5rem;
      }
    }
  }

  @include mediaQueryMaxWidth(lg) {
    h2.prev-header-margin {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
    .button {
      margin-bottom: 1rem;
    }
  }

  @media all and (max-width: 767px) {
    .product-list-wrapper .product-list {
      min-height:150px;
    }
    .container {
      padding:8px 1rem 1rem;
      .row{
        padding:0;
      }
    }
  }
}
