$color-gray: #9A9A9A;

.scroll-prompt {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%; /* will hang over the next section, make sure to provide sufficient padding */
  color: $color-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;

  @include mediaQueryMaxWidth(lg) {
    display: none;
  }
}

@keyframes scroll-prompt{
  from{
    opacity:1
  }
  to{
    opacity:0;
    transform:translate(-50%, 15px);
  }
}

.scroll-to-btn {
  color: inherit !important;
  position: relative;
  font-weight: 400;
  display: inline-block;
  border: 1px solid currentColor;
  border-radius: 22px;
  height: 34px;
  width: 22px;

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background: currentColor;
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll-prompt;
    box-sizing: border-box;
  }
}
