// main: style.scss

section {
  // @include image-background;
}

section.trailer, section.tutorial, section.rules, section.hashtag {
  padding: 2rem 0 2rem;
  @include mediaQueryMinWidth(lg) {
    padding: 5rem 0 6rem;
  }
  p {
    width: 28rem;
    max-width: 80vw;
  }
}

section.trailer {
  @include image-background {
    img {
      object-fit: contain;
    }
  }
}

section.prizes {
  color: white;
  padding: 2rem 0 1rem;
  @include mediaQueryMinWidth(lg) {
    padding: 6rem 0 4rem 0;
  }
  @include mediaQueryMinWidthPx(1800px) {
    padding: 7.5rem 0 5rem 0;
  }
  @include image-background() {
    bottom: 10rem;
  }
  
  $breakpoint1: 1400px;
  $breakpoint2: 900px;

  .text-box {
    text-shadow:
      2px 1px 4px rgba(0,0,0, .8),
      0 0 30px rgba(0,0,0, .5),
      ;
      margin-bottom: 7.5rem;
  }

  h2 {
    max-width: 80vw;
    width: 13.5em;
    font-weight: 700;
  }

  .feature-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5rem 0 0;
    width: 100%;
    @media (min-width: $breakpoint2) {
      flex-wrap: wrap;
      flex-direction: row;
      align-items: stretch;
      height: 700px;
    }
    @media (min-width: $breakpoint1) {
      margin: 5rem -1rem 0;
      width: calc(100% + 2rem);
      flex-direction: column;
      align-items: stretch;
    }
    
    .box {
      margin: 1.5rem 1rem;
      box-shadow: 0 0 50px rgba(0,0,0, .1);
      background: white;
      color: black;
      border-radius: 4px;
      
      @media (min-width: $breakpoint1) {
        &:nth-child(1),
        &:nth-child(4) {
          margin-top: 7rem;
        }
      }
      
      width: 20rem;
      max-width: 100%;
      min-height: 15rem;
      @media (min-width: $breakpoint2) {
        width: calc(50% - 2rem);
        min-height: unset;
      }
      @media (min-width: $breakpoint1) {
        width: calc(33% - 2rem);
      }
      flex: 0 0 calc(50% - 3rem);
      img {
        width: 300px;
        height: auto;
      }
      &.macbook {
        img {
          width: 88%;
          margin-top: -2.5rem;
        }
      }
      &.camera {
        img {
          width: 70%;
          margin-top: -5.5rem;
          margin-bottom: -2rem;
        }
      }
      &.drone {
        img {
          width: 84%;
          margin-top: -2.5rem;
          margin-bottom: 1rem;
        }
      }
      

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      transition: transform 1s, opacity 1s;
      &:not(.animate-in) {
        opacity: 0;
        transition: transform 0s, opacity 0s;
        transform: perspective(500px) rotateX(10deg) translate3D(0, 20px, 10px);
      }

      &:nth-child(2) {
        transition-delay: .1s;
      }
      &:nth-child(3) {
        transition-delay: .2s;
      }
      &:nth-child(4) {
        transition-delay: .3s;
      }
    }

    h4 {
      margin: .5rem 0 0;
      font-size: .9rem;
      font-size: 1.2rem;
      @media (min-width: 1000px) {
      }
      font-weight: 600;
    }
    h5 {
      margin: 0.3rem 0;
      font-size: .8rem;
      font-size: .9rem;
      @media (min-width: 1000px) {
      }
      font-weight: 600;
    }
    p {
      margin: .8rem 1rem;
      + p {
        margin-top: 0;
      }
      font-size: .7rem;
      font-size: .7rem;
      @media (min-width: 1000px) {
      }
    }

    p.text {
      max-width: 15em;
    }

    .fs-24 {
      font-size: 1.2rem;
    }
    .fs-20 {
      font-size: 1rem;
    }
    .fs-18 {
      font-size: .9rem;
    }
    .fs-16 {
      font-size: .8rem;
    }
    .b {
      font-weight: 600;
    }
    .bb {
      font-weight: 700;
    }
  }

  .social-icons .twitter {
    // mask: url(https://motionvfx.com/static/svg/social/twitter.svg);
    //   -webkit-mask: url(https://motionvfx.com/static/svg/social/twitter.svg);
    //   mask-position: center;
    //   -webkit-mask-position: center;
    //   mask-size: 100% 100%;
    //   -webkit-mask-size: cover;
      width: 40px;
      height: 40px;
      background: #9a9a9a;
      transition: background .5s ease,color .5s ease;
      display: inline-block;
  }

  .dollar {
    color: #F6CC24;
    font-size: 180px;
    font-weight: 600;
    margin-top: -.51em;
    margin-bottom: -.2em;
  }
}
  

section.hashtag {
  h2 {
    line-height: 1.6;
    span {
      position: relative;
      &::after {
        @include pseudo;
        top: 90%;
        height: 2rem;
        @media (max-width: 600px) {
          top: 80%;
          height: 1.8rem;
        }
        background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/underline.svg') no-repeat; 
        background-size: contain;
      }
    }
  }
  em {
    color: $color-blue;
    font-weight: 600;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    img {
      margin-right: 1rem;
      width: 3rem;
      height: auto;
    }
  }
  .row {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .col-img {
    padding-right: 6rem;
    @include mediaQueryMaxWidthPx(1500px) {
      padding-right: 4rem;
    }
    padding-left: 0;
    @include mediaQueryMaxWidth(lg) {
      padding-right: 0;
      padding-left: 1rem;
    }
    text-align: center;
    img {
      width: 100%;
      max-width: 40vw;
      margin: 0 auto;
    }
  }
  .text-box {
    padding-top: 1rem;  
    padding-bottom: 1rem;  
    p {
      margin-top: 0;
      margin-bottom: 2rem;
      padding-left: 4.5rem;
      width: unset;
    }
  }

  .links-row {
    padding-top: 0;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mediaQueryMaxWidthPx(1200px) {
      flex-direction: column;
    }
    > :not(:last-child) {
      margin-right: 3rem;
    }
    @include mediaQueryMaxWidth(lg) {
      margin-left: 4rem;
    }
  }
  .link {
    margin-bottom: 1.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    .title, a {
      line-height: 1.3;
      color: #000000;
    }
    .title {
      font-weight: 600;
    }
  }
  .icon {
    grid-row-end: span 2;
    display: inline-block;
    $s: 1.5rem;
    width: $s;
    height: $s;
    margin-right: 1rem;
  }
  .fb {
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/fb.svg');
  }

  .yt {
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/yt.svg');
  }
  .twitter {
      background: url('https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/twitter.svg');
  }
}


section.rules {
  $breakpoint: 1024px;

  @include image-background {
    top: 4rem;
    bottom: 4rem;
    @include mediaQueryMinWidthPx($breakpoint) {
      left: 33%;
    }
  }

  .image-floating {
    position: absolute;
    .img-fluid {
    }
    @include mediaQueryMaxWidthPx($breakpoint) {
      display: none;
    }
  }
  .image-floating-1 {
    top: 0;
    right: 63%;
    width: .9 * 600 / 2560 * 100vw;
    max-width: 630px;
  }
  .image-floating-2 {
    bottom: 10%;
    left: 4%;
    width: .6 * 600 / 2560 * 100vw;
    max-width: 460px;
  }

  .text {
    margin: 6rem 0;
    
    @include mediaQueryMinWidthPx($breakpoint) {
      max-width: .5 * 1280px;
      margin-left: auto;
    }
    color: white;
    min-height: 35rem;
  }

  .accordion {
    margin: 2rem 0;
  }

  .card-header {
    border: none;
    padding: .6rem 1rem;
    margin: .2rem 0;
    border-radius: 4px !important;
    color: white;
    background: transparent;
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 600;
    
    transition: background-color .4s;

    &::before, &::after {
      order: 1;
      grid-column: 3;
      grid-row: 1;
      content: '';
      display: inline-block;
      width: .8rem;
      height: 1px;
      background-color: white;
      transition: all .3s;
    }
    &::before {
      transform: rotate(-180deg);
    }
    &::after {
      transform: rotate(-90deg);
    }
    &.active {
      background: $color-blue;
      &::before, &::after {
        transform: none;
      }
      &::after {
        opacity: 0;
      }
    }

  }
  .card {
    background-color: transparent;
    color: white;
    border: none;
  }
  
  .card-body {
    border: none;
    padding: 1.5rem 1rem;
    padding-left: 2rem;
  }
}

section.sharing {

  padding: 2rem 0 2rem;
  @include mediaQueryMinWidth(lg) {
    padding: 12rem 0 12rem;
  }

  z-index: 1;
  position: relative;
  .col-right {
      z-index: -1;
  }
}


@import 'graphic';
