// main: style.scss

$slideAnimationDuration: .6s;
$slideAnimationShortDuration: .4s;
$opacityAnimationDuration: .9s cubic-bezier(.36,.01,.13,1);

.slide-slider {
	// font-size: 14px;
	text-transform: uppercase;
	overflow: hidden;

	.button {
		cursor: pointer;
		user-select: none;
		opacity: .7;
		transition: opacity .4s;
		&:hover {
			opacity: 1;
		}

		svg {
			width: 1em;
			path {
				fill:none;
				stroke:#ffffff;
				stroke-width:2;
			}
		}
	}
	&.first_slide .button_prev {
		opacity: 0;
		pointer-events: none;
	}
	&.last_slide .button_next {
		opacity: 0;
		pointer-events: none;
	}

	.slider_nav {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		.button {
			cursor: pointer;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			gap: .7em;
			padding: 1em 0;
			border: none;
			&::after {
				content: '';
				display: block;
				width: 2.5em;
				height: 1px;
				background: currentColor;
				transition: transform .5s;
				transform-origin: 100% 50%;
			}
			.first_slide &.button_prev::after {
				transform: scaleX(0);
			}
			.last_slide &.button_next::after {
				transform: scaleX(0);
			}
		}

		.button_prev {
			&::after {
				width: 2rem;
				order: -1;
				transform-origin: 0% 50%;
			}
		}
	}

	.slider_header {
		padding: 3em 0;
		display: flex;
		gap: 3em;
		> div {
			max-width: 5em;
			line-height: 1.1;
		}

		@media all and (max-width: $mobileWidth) {
			padding-left: 3em;
		}
	}

	@mixin sliderSlideAnimation {
		transition: transform $slideAnimationShortDuration;
		.animated & {
			transition: transform $slideAnimationDuration;
		}

		// transform: translate3D(calc(-1 * var(--slider-index) * var(--slideWidth)), 0, 0);
		// ^^ this is supposed to use GPU and be more performant actually is more choppy on M1!
		transform: translateX(calc(-1 * var(--sliderIndex) * var(--slideWidth)));
	}

	.slider_body {
		--sliderWidth: #{$sliderWidth};
		--slideWidth: calc(1 * var(--sliderWidth));

		&.slider_small {
			@include sliderSlideAnimation;
		}
		@media all and (max-width: $mobileWidth) {
			--sliderWidth: 100vw;
			@include sliderSlideAnimation;
		}

		width: calc(10 * var(--sliderWidth)); // set to more than max image count
		display: flex;
		.slide {
			width: var(--slideWidth);
			img {
				width: 100%;
				height: auto;
			}
		}
	}
	.slider_small .slide {
		cursor: zoom-in;
	}
	.slider_fullscreen {
		.slide {
			cursor: zoom-out;
		}

		overflow: hidden;
		opacity: 0;
		transition: opacity .5s;
		pointer-events: none;
		display: flex;
		align-items: center;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10002;
		background: #000;


		.slider_wrapper {
			display: flex;
			align-items: center;
			overflow: hidden;
		}
		.slider_body {
			--sliderWidth: 100vw;
			--slideWidth: calc(1 * var(--sliderWidth));
		}

		.slide {
			overflow: hidden;
			display: flex;
			align-items: center;
			height: 100vh;
			img {
				height: auto;
				width: 100%;
				// object-fit: cover; // for full screen on mobile
			}
		}

		@media all and (min-width: $mobileWidth) {
			.slider_body {
				position: relative;
				height: 100vh;
			}
			.slide {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				transition: opacity $opacityAnimationDuration;
				&.active {
					opacity: 1;
				}
			}
		}
		.button {
			position: absolute;
			display: flex;
			justify-content: flex-end;
			padding: 7vw;
			font-size: 1.2rem;
			@media all and (min-width: $mobileWidth) {
				padding: 3rem;
				font-size: 3em;
				width: 33vw;
			}
			cursor: pointer;
		}
		.button_close {
			top: 0;
			right: 0;
		}
		.button_prev,
		.button_next {
			top: 7rem;
			bottom: 7rem;
			align-items: center;
			@media all and (max-width: $mobileWidth) {
				align-items: flex-end;
				bottom: 0;
			}
		}
		.button_prev {
			left: 0;
			justify-content: flex-start;
		}
		.button_next {
			right: 0;
		}
	}

	&.fullscreen .slider_fullscreen {
		opacity: 1;
		pointer-events: all;
	}
}
