
.slider-continuous {
  overflow: hidden;

  $items: 6;

  .slider-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @include mediaQueryMaxWidth(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
    
    @include mediaQueryMaxWidth(md) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mediaQueryMaxWidth(sm) {
      grid-template-columns: 75vw;
    }
  }

  .slider-item {
    grid-column: 1;
    grid-row: 1;
    img {
      width: 100%;
      height: auto;
    }
  }


  position: relative;

  .button_prev, .button_next {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border: none;
    background: none;
    &:focus {
      outline: none;
    }
    &:hover {
      svg {
        transform: translateX(5px);
      }
    }
    svg {
      transition: transform .4s;
      width: 40px;
      height: 40px;
      filter: drop-shadow(1px 1px 2px rgba(0,0,0,.4));
    }
  }
  .button_prev {
    left: 1rem;
    > div {
      transform: rotate(180deg);
    }
  }
  .button_next {
    right: 1rem;
  }
}