// main: style.scss

section.tech-spec {
  margin-top: -2px;
  position: relative;
  padding: 2rem 0 4rem;
  @include mediaQueryMinWidth(lg) {
    padding: 7rem 0 7rem;
  }

  background-size: cover;
  background-position: center;
  
  .side-image {
    grid-area: aside;
    align-self: center;
    padding-left: 6rem;
    max-width: 300px;
    box-sizing: content-box;
    img {
      width: 100%;
      height: auto;
      transform: translate3D(50px,0,0);
      @include mediaQueryMaxWidth(md) {
        display: none;
      }
    }
    transition: 6s transform;

  }

  .container {
    grid-area: main;
    z-index: 1;
    transform: translate(0,0);
  }
  h2 {
    padding-bottom: .9rem;
    max-width: 80vw;
  }

  $break: 500px;

  .table {
    @include bodyText;
    margin-top: .5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 80vw;
    margin-bottom: 4rem;
    @include mediaQueryMinWidth(lg) {
      margin-bottom: 6rem;
    }
  }
  .cell {
    padding: 0.6rem .7rem;
    line-height: 1.4rem;
    text-align: left;
  }
  .label {
    color: #9A9A9A;
  }
  @include mediaQueryMinWidthPx($break) {
    .table {
      display: grid;
      gap: 0 1rem;
      grid-template-columns: 1fr 1fr;
    }
    .label {
      text-align: right;
    }
    .data {
      text-align: left;
    }
  }
  @include mediaQueryMaxWidthPx($break - 0.02px) {
    // text-align: left;
    .cell {
      padding: 0rem;
      width: 100%;
      margin: 0 auto;
    }
    .label {
      color: #9A9A9A;
      @include tagline;
    }
    .data {
      margin-bottom: 1.4rem;
    }
  }
}

.data a {
  transition: color .15s;
  &, &:hover {
    text-decoration: none;
    // text-decoration: underline;
    // text-decoration-thickness: from-font;
    // text-underline-offset: 3px;
  }
  &:hover {
    color: $themeColor1;
  }
}

@media all and (max-width: 991px) {
  section.tech-spec {
    .tech-spec-info {
      h2 {
        font-size: 1.6rem;
      }
    }
  }
}


.bauble-keys {
  position: absolute;
  bottom: 2.5rem;
  z-index: 2; 
  left: 60%;
  font-size: 16px;
  @media (max-width: 1024px) {
    bottom: 1rem;
    font-size: 12px;
  }
  display: flex;
  align-items: center;

  &:not(.animate-in) {
    > div {
      opacity: 0;
      transition: opacity .2s;
    }
  }

  @for $i from 1 through 5 {
    > :nth-child(#{$i}) {
      transition: opacity .7s $i * .17s;
    }
  }

  .plus {
    padding: .3em;
  }
  .plus-2 {
    padding: .4em;
  }
  .key {
    padding: .45em .7em .33em;
    border-radius: 4px;
    background: #3D4AB4;
    color: #fff;
  }
  .key-2 {
    background: #181819;
  }
}

.minstaller-info {
  position: relative;
  padding-top: 3rem;
}

.wave {
  z-index: -1;
  position: absolute;
  top: -1rem;
  right: 70%;
  width: 50vw;
  height: auto;
  @media (max-width: 1200px) {
    top: 0;
    width: 70vw;
    right: 50%;
  }
  @media (max-width: 600px) {
    width: 200vw;
    right: 0;
    top: -1.5rem;
  }
}

.tutor-credit-1 {
  position: absolute;
  bottom: 750px;
  left: 5%;
  width: 250px;
  height: auto;
  @media (max-width: 1200px) {
    display: none;
  }
}

.radar {
  clip-path: inset(10px 10px 10px 10px);
  background: transparent;
  border: none;
  position: absolute;
  bottom: 200px;
  right: 10%;
  width: 300px;
  max-width: 14vw;
  max-height: 14vw;
  height: 300px;
  @media (max-width: 900px) {
    display: none;
  }
}