// main: style.scss

$mobileBreakpointMax: 1000px;

section.video, section.image {
  overflow: hidden;
  position: relative;
  @include mediaQueryMinWidth(xl) {
    max-height: 1150px;
  }
  margin-top: -1px;
  margin-bottom: -1px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img, video {
    width: auto;
    height: 60vw;
  }
  @include mediaQueryMaxWidth(sm) {
    img, video {
      width: auto;
      height: 80vw;
    }
  }
  .container {
    padding: 2rem;
    padding-right: 3rem;
    h2 {
      max-width: 23rem;
    }
  }
  @include mediaQueryMinWidthPx($mobileBreakpointMax) {
    flex-direction: row;
    img, video {
      height: auto;
      width: 100%;
    }
    .overlay {
      @include overlay;
      .container {
        height: 100%;
      }
    }
  }
}

section.image {
  .container {
    display: flex;
    align-items: flex-start;
    .text-box {
      padding-top: 20%;
      @include mediaQueryMaxWidth(xl) {
        padding-top: 1rem;
      }
      @include mediaQueryMaxWidthPx($mobileBreakpointMax) {
        padding-top: 0;
      }
    }

    @include mediaQueryMinWidthPx($mobileBreakpointMax) {
      $m: 55%;
      margin-left: $m;
      max-width: 100% - $m;
    }
  }
}
section.video-description {
  .container {
    padding: 2rem 0;
    @include mediaQueryMinWidth() {
      padding: 4rem 0 3.5rem;
    }

    @include mediaQueryMaxWidthPx(1400px) {
      padding: 2rem;
    }
    display: grid;
    grid-template-areas: "left middle right";
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include mediaQueryMaxWidthPx(1400px) {
      gap: 1.5rem;
    }
  }
}
.mobile-only {
  display: none;
}
.desktop-only {
  display: block;
}
@include mediaQueryMaxWidthPx($mobileBreakpointMax) {
  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }
}

section.video {
  .container {
    padding: 2rem 0;
    @include mediaQueryMinWidth() {
      padding: 5rem 0;
    }

    @include mediaQueryMaxWidthPx(1400px) {
      padding: 2rem;
    }
    display: grid;
    grid-template-areas: "top top top" "emppty empty empty" "left middle right";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;

    @include mediaQueryMaxWidthPx(1400px) {
      gap: 1.5rem;
    }
  }
  .top {
    grid-area: top;
  }
  .left {
    grid-area: left;
  }
  .middle {
    grid-area: middle;
  }
  .right {
    grid-area: right;
  }

  // @include mediaQueryMinWidthPx($mobileBreakpointMax + 0.02px) {
  //   .overlay::before {
  //     content: '';
  //     position: absolute;
  //     left: 0;
  //     right: 0;
  //     top: 0;
  //     bottom: 0;
  //     background: linear-gradient(to top, #000000aa, transparent 400px, transparent);
  //   }
  // }

  @include mediaQueryMaxWidthPx($mobileBreakpointMax) {
    display: flex;
    // flex-direction: column-reverse;
    .container {
      display: block;
    }
    .left, .middle, .right {
      display: none;
    }
  }

  .left, .middle, .right {
    // h2 {
    //   text-shadow:
    //     1px 1px 2px #33333366,
    //     0px 0px 8px #33333322
    //     ;
    // }
    // p {
    //   text-shadow:
    //   1px 1px 2px #33333377,
    //   0px 0px 8px #33333388
    //   ;
    // }
  }
}