<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if product.productdetails.meta_title %}{{ product.productdetails.meta_title }}{% else %}{% trans %}motionVFX — Original Home of Final Cut Pro and DaVinci Resolve Plugins{% endtrans %}{% endif %}</title>
	<link rel="shortcut icon" href="css/static/images/favicon.png?{{refresh}}" type="image/png">
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=0.9, maximum-scale=0.9, user-scalable=no" name="viewport">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<!-- <link href="https://fonts.googleapis.com/css2?family=Quantico:wght@400;700&family=Work+Sans:wght@300;400;500;600&display=swap" rel="stylesheet"> -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap" rel="stylesheet">
	<link href="static/css/bootstrap-4.1.3.min.css" rel="stylesheet">
	<link href="static/css/custom_pages_wrap.css" rel="stylesheet">
	<link href="https://www.motionvfx.com/static/css/custom_pages_wrap.css" rel="stylesheet">
	<link href="static/fonts/fontface.css" rel="stylesheet">
	<!-- <link href="css/core.css" rel="stylesheet"> -->
	
	<script src="https://s3.motionvfx.com/mvfxpublic/products/templates/source/media/scroll_to_anchor.js"></script>
	<script src="static/js/jquery-3.4.1.min.js"></script>
	<script src="static/js/custom_pages_wrap.js"></script>
	<script src="static/js/bootstrap-4.1.3.bundle.min.js"></script>
	<script src="static/js/top_bar.js"></script>
	<!-- <script src="js/splitting.min.js"></script> -->
	
	<script src="dist/menu.js"></script>
	<!-- <script src="dist/gsap.min.js"></script> -->
	<script src="dist/bundle.js"></script>
	<script src="dist/modernizr-webpalpha.js"></script>

	<link href="dist/style.min.css" rel="stylesheet">


<!-- <link href="https://unpkg.com/video.js/dist/video-js.min.css" rel="stylesheet">
<script src="https://unpkg.com/video.js/dist/video.min.js"></script>

<link href="https://unpkg.com/video.js@7.2.3/dist/video-js.min.css" rel="stylesheet">
<script src="https://unpkg.com/video.js@7.2.3/dist/video.min.js"></script> -->

</head>

<body class="">

	<div class="core-site-styles">

        <div class="navbar-collapse-background"></div>

				<nav class="navbar navbar-expand-lg bg-white fixed-top">
				  <div class="d-flex order-0 main-logo"><a class="navbar-brand mr-1 navbar-vfx" href="/"> <img src="https://www.motionvfx.com/static/svg/logo.svg" alt="MotionVFX"><span>motionVFX</span></a> </div>

				  <div class="navbar-collapse order-2 collapsed-nav" id="collapsingNavbar" style="max-height: 949px;">
					<div class="navbar-menu-left">
						<ul class="navbar-nav text-nowrap">

									<li class="nav-item d-lg-none">
											<a class="nav-link cursor-pointer" data-auth-section-toggle="">Login</a>
									</li>



									<li class="nav-item dropdown">

											<a class="nav-link " href="/store,plugins-final-cut-pro,2,8.html" role="button">Plugins</a>

									</li>

									<li class="nav-item dropdown">

											<a class="cursor-pointer nav-link dropdown-toggle product-types-link " data-redirect-link="/store,templates,1.html" id="navbarDropdown" role="button" data-toggle="dropdown">Templates</a>
											<div class="dropdown-menu fade" aria-labelledby="navbarDropdown">

													<a class="dropdown-item " href="/store,templates-motion-final-cut-pro,1,4.html">Motion / Final Cut Pro</a>

													<a class="dropdown-item " href="/store,templates-mo2,1,6.html">mO2</a>

													<a class="dropdown-item " href="/store,templates-after-effects,1,5.html">After Effects</a>

											</div>

									</li>

									<li class="nav-item dropdown">

											<a class="nav-link text-captialize " href="/store,compositing-elements,3.html" role="button">Compositing elements</a>

									</li>


						</ul>
					</div>
					<div class="navbar-menu-right">
						<ul class="navbar-nav text-nowrap">
						<li class="nav-item dropdown">
							<a class="cursor-pointer nav-link dropdown-toggle product-types-link" role="button" data-toggle="dropdown">Team</a>
							<div class="dropdown-menu fade" aria-labelledby="navbarDropdown">

									<a class="dropdown-item" href="/page/about.html">About Us</a>

									<a class="dropdown-item" href="/join-us.html">Join Us</a>
							</div>
						</li>
						<li class="nav-item dropdown">
							<a class="cursor-pointer nav-link dropdown-toggle product-types-link" role="button" data-toggle="dropdown">Help</a>
							<div class="dropdown-menu fade" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/faq.html">FAQ</a>
									<a class="dropdown-item" href="/page/minstaller.html">mInstaller</a>
									<a class="dropdown-item" href="https://www.motionvfx.com/page/affiliate.html" target="_top" rel="nofollow">Affiliate Program</a>
							</div>
						</li>

						</ul>
					</div>
				  </div>

				  <div class="navbar-right text-right order-1 order-lg-last">
				      <button class="menu-icon-svg navbar-toggler">
				        <div class="icon"></div>
				      </button>

				      <a data-global-search-toggle="" class="search-icon-svg cursor-pointer" id="globalSearchToggle">
				          <div class="icon"></div>
				      </a>


				        <a data-auth-section-toggle="" id="authSectionBtn" role="button" class="cursor-pointer head-icon-svg d-none d-md-inline">
				          <div class="icon"></div>
				        </a>



				          <a role="button" class="bag-icon-svg cursor-pointer d-flex float-right" data-minicart-toggle="">
				            <div class="icon d-inline-flex"></div>
				            <small id="cartProductCount" class="d-inline-flex">1</small>
				          </a>

				    </div>
				</nav>


				            <div class="collapse-login-popup " id="authSection">
				                <button class="dismiss-btn" type="button">
				                    <img src="https://www.motionvfx.com/static/svg/close.svg">
				                </button>

				                <div class="card card-body ui-blocker" data-ui-blocker="" id="authFormsContainer">
				                    <div class="container" id="loginSection">
				                <div class="row align-self-center justify-content-center">
				                    <div class="login-form">
				                        <h2 class="text-center">Please sign in</h2>

				                        <form id="loginForm" method="POST" action="/login" novalidate="" autocomplete="off">
				                            <input type="hidden" name="csrfmiddlewaretoken" value="uZ1BMrYyUnKmNiY5YWnocp4rqCA7Kb1KEN4PkPchxb5VE2vGiQO0myDpw8ObXjkp">

				                            <div class="form-group">
				                                <input class="form-control" type="text" name="login_username" autocomplete="off" maxlength="254" placeholder="E-mail*" required="" id="id_login_username">
				                            </div>
				                            <div class="form-group">
				                                <input class="form-control" type="password" name="login_password" autocomplete="off" placeholder="Password*" required="" id="id_login_password">
				                            </div>

				                            <div class="form-group"><small>*Required Fields</small></div>

				                            <div class="form-group row m-0">
				                                <button class="text-uppercase btn btn-clear mt-0" type="button" data-switch-to="passwordRecovery">Forgot your password?</button>

				                                <div class="ml-auto">
				                                    <button type="submit" id="loginBtn" class="btn btn-primary">Sign in</button>
				                                </div>
				                            </div>

				                            <div class="row align-self-center justify-content-center mt-50">
				                                <p><button type="button" class="btn btn-clear signup-link blue" data-switch-to="signUp">CREATE AN ACCOUNT<i class="arrow-icon"></i></button></p>
				                            </div>
				                        </form>
				                    </div>
				                </div>
				            </div>

				            <div class="container site-content d-none" id="signupSection">
				                <div class="row justify-content-center align-items-center">
				                    <div class="col-md-7 col-lg-5">
				                        <h2 class="text-center">Sign Up</h2>
				                        <form id="signUpForm" method="post" action="/register" novalidate="">
				                            <input type="hidden" name="csrfmiddlewaretoken" value="ftjvK2XgajNEbFIJuM2BOaRYPdO7qK4mphmJiqbZN78d2pfkOGtdYjqWVJ2bDSn1">
				                            <div class="form-group  ">
				                                <input class="form-control" type="email" name="signup_email" placeholder="E-mail address*" required="" id="id_signup_email">
				                            </div>
				                            <div class="form-group  ">
				                                <input class="form-control" type="password" name="signup_password1" placeholder="Password*" required="" id="id_signup_password1">
				                            </div>
				                            <div class="form-group  ">
				                                <input class="form-control" type="password" name="signup_password2" placeholder="Password confirmation*" required="" id="id_signup_password2">
				                            </div>
				                            <div class="form-group"><small>*Required Fields</small></div>
				                            <br>
				                            <div class="row nopadding">
				                                <div class="form-check col-12 col-sm-6 nopadding">
				                                        <div class="form-group">
				                                            <label class="container-checkbox">I ACCEPT CONDITIONS
				                                                <input type="checkbox" name="signup_term">
				                                                <span class="checkmark"></span>
				                                            </label>
				                                        </div>
				                                </div>
				                                <div class="col-12 col-sm-6 text-center text-sm-right nopadding">
				                                    <button type="submit" class="btn btn-primary">Create account</button>
				                                </div>
				                            </div>
				                        </form>

				                        <div class="form-group text-center">
				                            <p> <button class="text-uppercase btn btn-clear blue mt-50" data-switch-to="login">Back to log in <i class="arrow-icon"></i></button> </p>
				                        </div>
				                    </div>
				                </div>
				            </div>

				            <div class="container d-none" id="passwordRecoverySection">
				                <div class="row">
				                    <div class="col-12 col-md-6">
				                        <h2 class="text-center">Password Recovery</h2>
				                        <form id="passRecoveryForm" method="POST" action="/forgot-password" novalidate="">
				                            <input type="hidden" name="csrfmiddlewaretoken" value="uBnbJ7EY89yoQaRnZkczJx5uyqtdOTZkEpqphvSHLXTXHUoYjeDbTGEsEWHh11iZ">
				                            <div class="form-group">
				                                <input class="form-control" type="text" name="recovery_email" maxlength="254" placeholder="E-mail*" required="" id="id_recovery_email">
				                            </div>
				                            <br>
				                            <div class="form-group text-center">
				                                <button type="submit" class="btn btn-primary">Send</button>
				                                <p> <button type="button" class="text-uppercase btn btn-clear blue mt-50" data-switch-to="login">Back to log in<i class="arrow-icon"></i></button> </p>
				                            </div>
				                        </form>
				                    </div>
				                    <div class="col-12 col-md-6">
				                        <h2 class="text-center">Instructions</h2>
				                        <ul class="list-custom list-decimal-style">
				                          <li>Type in your e-mail address in the field and click SEND.</li>
				                          <li>Once you receive the automated e-mail, click the blue <strong>RECOVER PASSWORD</strong> button to start the recovery procedure.</li>
				                          <li>Type in and confirm your new password.</li>
				                          <li>Log in using the new credentials.</li>
				                        </ul>
				                    </div>
				                </div>
				            </div>

				            <div class="text-center d-none" id="activationEmailSentSection">
				                <h2>E-mail was sent</h2>
				                <p>E-mail address assigned to this account requires confirmation. Check your e-mail for further instructions.</p>
				                <p> <button type="button" class="text-uppercase btn btn-clear" data-switch-to="login">Back to log in</button> </p>
				            </div>

				            <div class="text-center d-none" id="recoveryEmailSentSection">
				                <h2>E-mail was sent</h2>
				                <p>Follow the link in the e-mail, to start password recovery procedure.</p>
				                <p> <button type="button" class="text-uppercase btn btn-clear blue" data-switch-to="login">Back to log in <i class="arrow-icon"></i></button> </p>
				            </div>
				        <div class="ui-blocker-container">
				                <div class="ui-blocker-overlay"></div>
				                <div class="ui-blocker-message-container">
				                    <div class="spinner">
				                        <div class="double-bounce1"></div>
				                        <div class="double-bounce2"></div>
				                    </div>
				                </div>
				            </div></div>

				        <div class="auth-background"></div>


				    </div>



				    <div class="discount-info hide-discount-info">
					<button class="dismiss-btn" type="button">
				        <img src="https://www.motionvfx.com/static/svg/close.svg?451">
				    </button>
					<h2 class="discount-title"></h2>
					<p class="discount-msg"></p>
					<a id="productSetListBtn" class="btn btn-primary d-none" href="">PRODUCT LIST</a>
				</div>

				<script id="discountInfoSettings" data-init-cart-state="{&quot;items&quot;: [{&quot;id&quot;: &quot;3572&quot;, &quot;type&quot;: &quot;Plugins&quot;, &quot;preview&quot;: &quot;https://s3.motionvfx.com/mvfxpublic/templates/plugin_box_3A62Xmz.jpg?{{refresh}}&quot;, &quot;vat_percent&quot;: &quot;0&quot;, &quot;title&quot;: &quot;mRestyle&quot;, &quot;total&quot;: &quot;79&quot;, &quot;unit_total&quot;: &quot;79&quot;, &quot;subtotal&quot;: &quot;79&quot;, &quot;vat&quot;: &quot;0.00&quot;, &quot;base_total&quot;: &quot;79&quot;, &quot;base_unit_total&quot;: &quot;79&quot;, &quot;base_subtotal&quot;: &quot;79&quot;, &quot;quantity&quot;: 1, &quot;conflict&quot;: false, &quot;required_product&quot;: &quot;&quot;, &quot;detail_url&quot;: &quot;/store,mrestyle,p3572.html&quot;, &quot;discount&quot;: {}, &quot;owned&quot;: false, &quot;bundle&quot;: null, &quot;bundle_discount&quot;: 0.0, &quot;bundle_discount_info&quot;: &quot;Additional $0 discount for owning 0 products from this bundle.&quot;, &quot;excluded_from_discounts&quot;: false}], &quot;item_count&quot;: 1, &quot;vat&quot;: {&quot;0&quot;: &quot;0.00&quot;}, &quot;subtotal&quot;: &quot;79&quot;, &quot;discount_subtotal&quot;: &quot;0&quot;, &quot;total&quot;: &quot;79&quot;, &quot;base_subtotal&quot;: &quot;79&quot;, &quot;suggestions&quot;: [{&quot;id&quot;: 398339, &quot;description&quot;: &quot;10 year anniversary of Final Cut Pro&quot;, &quot;percent&quot;: &quot;25.00&quot;, &quot;usage_limit&quot;: &quot;None&quot;, &quot;date_from&quot;: &quot;2021-04-12 06:31:15+00:00&quot;, &quot;date_to&quot;: &quot;2021-04-20 10:00:49+00:00&quot;, &quot;code&quot;: &quot;FCP10&quot;, &quot;type&quot;: &quot;promo_code&quot;, &quot;newsletter_sign_up&quot;: false, &quot;suggestion_title&quot;: &quot;Get 25% off&quot;, &quot;suggestion_msg&quot;: &quot;Use <b>FCP10</b> promo code at checkout*<br/> <small style=\&quot;font-size:11px;color:#9a9a9a\&quot;>*offer not applicable to products excluded from discounts</small>&quot;}], &quot;discount_code&quot;: null, &quot;discount_message&quot;: &quot;&quot;, &quot;discount_code_bundle_off&quot;: false, &quot;base_total&quot;: &quot;79&quot;}" data-show-delay="30000"></script>

				<script id="userInfoSettings" data-is-authenticated="False"></script>




				        <a class="plugin-nav-back-btn" href="/store,plugins-final-cut-pro,2,8.html">
				    <img src="https://www.motionvfx.com/static/svg/close-white.svg?451">
				</a>
				        <div class="d-none container h-100 w-100 p-0" id="globalSearchWrapper">

				    <button class="dismiss-btn float-right" id="globalSearchDismissBtn" type="button"><img src="https://www.motionvfx.com/static/svg/close.svg"></button>

				    <div class="d-flex h-100 w-100 justify-content-center align-items-center">

				        <div class="search-wrapper">
				            <div class="col-12">
				                <div class="h-100">
				                    <div class="form-group">
				                        <input class="form-control search-input" placeholder="Search..." type="text" name="global_search">
				                        <span id="globalSearchInputClearBtn" class="form-clear d-none search-clear-btn">
				                            <img src="https://www.motionvfx.com/static/svg/close.svg?451">
				                        </span>
				                    </div>
				                </div>
				            </div>
				            <div class="col-12 search-loader ui-blocker" id="globalSearchResultsWrapper">
				                <div id="queryTooShortMsg" class="query-too-short-msg d-none">
				                    <ul>
				                        <li><a>Please enter 2 or more characters.</a></li>
				                    </ul>
				                </div>
				                <div id="globalSearchNoResultsMsg" class="no-results-msg d-none">
				                    <ul>
				                        <li><a>No results.</a></li>
				                    </ul>
				                </div>
				                <div id="globalSearchResults" class="search-results"></div>
				            <div class="ui-blocker-container">

				                <div class="ui-blocker-message-container">
				                    <div class="spinner">
				                        <div class="double-bounce1"></div>
				                        <div class="double-bounce2"></div>
				                    </div>
				                </div>
				            </div></div>
				        </div>
				    </div>
				</div>

				<div id="globalSearchOverlay" class="d-none w-100 h-100"></div>
				        <div id="miniCart" class="minicart hide-cart">
				    <div class="minicart-content ui-blocker" data-ui-blocker="">

				        <button class="dismiss-btn" type="button" data-minicart-toggle="" aria-controls="miniCart"><img src="https://www.motionvfx.com/static/svg/close.svg?451"></button>

				        <h2 class="text-center">Cart preview</h2>

				        <div class="minicart-container" style="position: relative;">
				            <div class="text-center">
				                <table class="table">
				                    <tbody id="minicartProducts">

				                    </tbody>
				                </table>
				            </div>
				        <div dir="ltr" class="resize-sensor" style="pointer-events: none; position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div class="resize-sensor-expand" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 490px; height: 95px;"></div></div><div class="resize-sensor-shrink" style="pointer-events: none; position: absolute; left: 0px; top: 0px; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden; max-width: 100%;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div></div>

				        <div class="d-none" id="minicartEmptyListMsg">
				            <div class="container nothing-here">
				    <div class="text-center">
				        <p class="title">Nothing here yet</p>

				        <p class="message">Add some of our awesome products!</p>

				        <a href="/store" class="btn btn-primary">go to store</a>
				    </div>
				</div>
				        </div>

				        <div class="cart-summary text-center d-none" id="minicartSummary">
				            <div class="row">
				                <div class="col-6">TOTAL</div>
				                <div class="col-6 price" id="minicartTotal">$0</div>
				            </div>
				            <a href="/cart" class="btn btn-primary">Go to checkout</a>
				        </div>
				    <div class="ui-blocker-container">
				                <div class="ui-blocker-overlay"></div>
				                <div class="ui-blocker-message-container">
				                    <div class="spinner">
				                        <div class="double-bounce1"></div>
				                        <div class="double-bounce2"></div>
				                    </div>
				                </div>
				            </div></div>
				</div>
				        <!-- ADD TO CART CONFIRMATION MODAL -->
				<div class="modal fade" id="addedToCartConfirm" role="dialog" aria-labelledby="addedToCartConfirm" aria-hidden="true">
				    <div class="modal-dialog modal-dialog-centered" role="document">
				        <div class="modal-content text-center">

				            <button class="dismiss-btn" type="button" data-dismiss="modal" aria-label="Close">
				                <img src="https://www.motionvfx.com/static/svg/close.svg">
				            </button>

				            <div class="modal-header">
				                <h2 class="modal-title" id="exampleModalLongTitle">Added to cart</h2>
				            </div>

				            <div class="modal-body">
				                You added <span id="addedProductName"></span> to your shopping cart.
				            </div>

				            <div class="modal-footer">
				                <a href="/cart" class="btn btn-primary">Go to cart</a>
				                <br>
				                <div class="text-center">
				                    <a class="signup-link btn btn-clear" data-dismiss="modal">Continue shopping &nbsp;&nbsp;&gt;</a>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<!-- ADD TO CART CONFIRMATION MODAL -->
				<div class="modal fade" id="twoProductsAddedToCartConfirm" role="dialog" aria-labelledby="twoProductsAddedToCartConfirm" aria-hidden="true">
				    <div class="modal-dialog modal-dialog-centered" role="document">
				        <div class="modal-content text-center">

				            <button class="dismiss-btn" type="button" data-dismiss="modal" aria-label="Close">
				                <img src="https://www.motionvfx.com/static/svg/close.svg">
				            </button>

				            <div class="modal-header">
				                <h2 class="modal-title" id="exampleModalLongTitle">2 products<br> added to cart</h2>
				            </div>

				            <div class="modal-body">
				                <span id="dependentProductName"></span> requires <b id="dependencyProductName"></b> to run. Both products were added to cart.
				            </div>

				            <div class="modal-footer">
				                <a href="/cart" class="btn btn-primary">Go to cart</a>
				                <br>
				                <div class="text-center">
				                    <a class="signup-link btn btn-clear" data-dismiss="modal">Continue shopping &nbsp;&nbsp;&gt;</a>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<!-- ALREADY IN CART CONFIRMATION MODAL -->
				<div class="modal fade" id="alreadyInCartMsg" role="dialog" aria-labelledby="alreadyInCartMsg" aria-hidden="true">
				    <div class="modal-dialog modal-dialog-centered" role="document">
				        <div class="modal-content text-center">

				            <button class="dismiss-btn" type="button" data-dismiss="modal" aria-label="Close">
				                <img src="https://www.motionvfx.com/static/svg/close.svg">
				            </button>

				            <div class="modal-header">
				                <h2 class="modal-title" id="exampleModalLongTitle">Already in cart</h2>
				            </div>

				            <div class="modal-body">
				                <span id="alreadyAddedProductName"></span> is already in your shopping cart.
				            </div>

				            <div class="modal-footer">
				                <a href="/cart" class="btn btn-primary">Go to cart</a>
				                <br>
				                <div class="text-center">
				                    <a class="signup-link btn btn-clear" data-dismiss="modal">Continue shopping &nbsp;&nbsp;&gt;</a>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>

				<!-- REMOVE FROM CART CONFIRMATION MODAL -->
				<div class="modal fade" id="removeFromCartConfirm" role="dialog" aria-labelledby="removeFromCartConfirm" aria-hidden="true">
				    <div class="modal-dialog modal-dialog-centered" role="document">
				        <div class="modal-content text-center">

				            <button class="dismiss-btn product-remove-cancel" type="button" data-dismiss="modal" aria-label="Close">
				                <img src="https://www.motionvfx.com/static/svg/close.svg">
				            </button>

				            <div class="modal-header">
				                <h2 class="modal-title" id="exampleModalLongTitle">WARNING</h2>
				            </div>

				            <div class="modal-body">
				                All products in cart (<span id="dependentProductNumber"></span>) that require <b id="removedProductName"></b> to run will also be deleted.
				            </div>

				            <div class="modal-footer">
				                <a href="!#" id="productRemoveConfirm" class="btn btn-primary" data-dismiss="modal">Confirm</a>
				                <br>
				                <div class="text-center">
				                    <a class="signup-link btn btn-clear product-remove-cancel" data-dismiss="modal">Cancel</a>
				                </div>
				            </div>
				        </div>
				    </div>
				</div>
				        <a id="backToTopBtn" class="back-to-top cursor-pointer" data-page-reload=""></a>

					<section class="apple_silicon_info" id="silicon_bar">
						<div class="text-box-centered">

							<div class="text-centered">
								<img src="https://www.motionvfx.com/static/images/apple_silicon_logo.png?{{refresh}}" alt="">
									Product <span>compatible</span> with Apple Silicon.
							</div>

						</div>
					</section>

				    </div>


	<!-- <div class="popup-left" id="popup-tech-spec">
		<div class="close" id="popup-close-button"><img src="https://www.motionvfx.com/static/svg/close.svg?1578"></div>
		<div class="promo-img">
			<a href="https://www.motionvfx.com/store,m16mm,p3547.html" target="_blank"><img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1351/media/m16mm_fcp.jpg?{{refresh}}" /></a>
		</div>
		<p class="popup-left-title">
			<span>We also have m16mm for FCP!</span>
		</p>
		<p class="popup-left-subtitle">
			<a href="https://www.motionvfx.com/store,m16mm,p3547.html">Check it out</a>
		</p>
	</div> -->

	
	<div class="mTutorial light">
		{% set refresh = 3 %}
		<section class="header dark">
			<div class="image-background-wrapper">
				<div class="image-background">
					<picture>
						<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/header_bg-640.jpg?{{refresh}} 640w,
							https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/header_bg-960.jpg?{{refresh}} 960w,
							https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/header_bg-1280.jpg?{{refresh}} 1280w,
							https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/header_bg-1920.jpg?{{refresh}} 1920w,
							https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/header_bg-2560.jpg?{{refresh}} 2560w"
							sizes="100vw">
						<img class="img"
							src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/header_bg-2560.jpg?{{refresh}}"
							width="2560"
							height="860"
							alt="">
					</picture>
				</div>
			</div>
			<div class="container-fluid">
				<div class="header-box">
					<h1 class="logo animate-opacity" id="logo">
						<div class="before"><span>Lights!</span> <span>Camera!</span> <span>Action!</span></div>
						<div class="main">mPathChallenge</div>
						<!-- <img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/mTutorial_logo.svg" alt="mTutorial" width="1186" height="600" /> -->
					</h1>
					<p class="subtitle animate-opacity">
						Creative video makers, this challenge is for you!
					</p>

					<div class="software-icons d-flex">
						<picture>
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/fcp-150.webp?{{refresh}}" type="image/webp">
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/fcp-150.png?{{refresh}}" type="image/png">
							<img class="icon animate-opacity" id="DVicon" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/fcp-150.png?{{refresh}}" alt="Final Cut Pro" width="70" height="70">
						</picture>
						<picture>
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1348/media/dvr.webp?{{refresh}}" type="image/webp">
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1348/media/dvr.png?{{refresh}}" type="image/png">
							<img class="icon animate-opacity" id="DVicon" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1348/media/dvr.png?{{refresh}}" alt="DaVinci Resolve" width="70" height="70">
						</picture>

					</div>
				</div>
			</div>
			<div class="scroll-prompt">
				<a href="#" class="scroll-to-btn" onclick="scrollToAnchor('trailer');" tabindex="-1"></a>
			</div>
		</section>

		<section class="trailer light">
			<div class="image-background">
				<picture>
					<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure_text-640.jpg?{{refresh}} 640w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure_text-960.jpg?{{refresh}} 960w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure_text-1280.jpg?{{refresh}} 1280w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure_text-1920.jpg?{{refresh}} 1920w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure_text-2560.jpg?{{refresh}} 2560w"
						sizes="100vw">
					<img class="img"
						src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/adventure_text-2560.jpg?{{refresh}}"
						width="2560"
						height="1050"
						alt="">
				</picture>
			</div>
			<div class="container center">
				<div class="text-box">
					<a class="nav" name="tutorial"></a>
					<h3 class="tighter">
						Inspire and get inspired
					</h3>
					<h2>
						Watch introduction
					</h2>
				</div>
			</div>
			<div class="container yt-wrapper">
				<div class="yt embed-responsive embed-responsive-16by9">
					<iframe id="ytTrailer" src="https://www.youtube.com/embed/5gG-SlF-LbE?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>
			</div>
			<div class="container center">
				<p>
					Here is your chance to tell us about your path through your memories and win the best filmmaking gear for your future projects. 
				</p>
			</div>
		</section>

		<section class="prizes light">
			<div class="image-background">
				<picture>
					<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure-640.jpg?{{refresh}} 640w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure-960.jpg?{{refresh}} 960w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure-1280.jpg?{{refresh}} 1280w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure-1920.jpg?{{refresh}} 1920w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/adventure-2560.jpg?{{refresh}} 2560w"
						sizes="100vw">
					<img class="img"
						src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/adventure-2560.jpg?{{refresh}}"
						width="2560"
						height="1050"
						alt="">
				</picture>
			</div>
			<div class="container center">
				<div class="text-box">
					<h3>Create to win!</h3>
					<h2>
						MotionVFX is giving away over <em>$20,000</em> worth of <strong>prizes</strong>.
					</h2>
				</div>
				<div class="feature-grid">
					<div class="box camera light">
						<picture>
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/camera-600.webp?{{refresh}}" type="image/webp">
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/camera-600.png?{{refresh}}" type="image/png">
							<img id="camera" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/camera-600.png?{{refresh}}" alt="" width="600" height="600">
						</picture>
						<div>
							<h4>Blackmagic Design Pocket</h4>
							<h5>Cinema Camera 4K</h5>
						</div>
						<p class="b">(Price value $5,000)</p>
					</div>
					<div class="box macbook light">
						<picture>
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/macbook-700.webp?{{refresh}}" type="image/webp">
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/macbook-700.png?{{refresh}}" type="image/png">
							<img id="macbook" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/macbook-700.png?{{refresh}}" alt="" width="700" height="420">
						</picture>
						<div>
							<h4>MacBook Pro</h4>
							<h5>13-inch, M1, 2020</h5>
						</div>
						<p class="b">(Price value $17,000)</p>
					</div>
					<div class="box money light">
						<figure class="dollar">
							$
						</figure>
						<p class="fs-18 text mx-auto">Share on social media and earn <strong>$50</strong> in store credit</p>
						<!-- <div class="social-icons">
							<a class="twitter youtube" href="https://www.youtube.com/motionVFXcom" rel="nofollow" title="Youtube" target="_blank"></a>
							<a class="twitter" href="https://twitter.com/motionVFX" rel="nofollow" title="Twitter" target="_blank"></a>
							<a class="facebook twitter" href="https://www.facebook.com/motionvfx" rel="nofollow" title="Facebook" target="_blank"></a>
						</div> -->
						<p class="fs-18 bb">First 300 participants</p>
					</div>
					<div class="box drone light">
						<picture>
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/drone-700.webp?{{refresh}}" type="image/webp">
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/drone-700.png?{{refresh}}" type="image/png">
							<img id="drone" src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/drone-700.png?{{refresh}}" alt="" width="700" height="350">
						</picture>
						<h4>DJI Air 2S</h4>
						<p class="b">(Price value $15,000)</p>
					</div>
				</div>
			</div>
		</section>

		<section class="hashtag">
			<div class="container">
				<div class="center">
					<h3>Show us your path</h3>
					<h2><span><em>#</em>madewithMotionVFX</span> Challenge</h2>
				</div>
				<div class="row align-items-center">
					<div class="col-12 col-lg-6 col-img">
						<picture>
							<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/box-640.jpg?{{refresh}} 640w,
								https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/box-820.jpg?{{refresh}} 820w,
								https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/box-1024.jpg?{{refresh}} 1024w"
								sizes="100vw">
							<img class="img-fluid"
								src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/box-1024.jpg?{{refresh}}"
								width="1024"
								height="1115"
								alt="">
						</picture>
					</div>
					<div class="col-12 col-lg-6 text-box">
						<h4>
							<img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/download.svg?{{refresh}}" width="60" height="60" />
							1. Download for free
						</h4>
						<p>	
							Download mPathChallenge for free and install via mInstaller.
						</p>
						<h4>
							<img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/video.svg?{{refresh}}" width="60" height="60" />
							2. Create with us
						</h4>
						<p>	
							Create a video up to 60 seconds, telling us about your path. <em>Deadline...</em>
						</p>
						<h4>
							<img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/share.svg?{{refresh}}" width="60" height="60" />
							3. Share on social media
						</h4>
						<p>	
							Post your video on YouTube, Twitter or Facebook using hashtag <em>#madewithMotionVFX</em> in your video title and tag <em>@motionvfx</em> in the description: 
						</p>
					</div>
				</div>
			
				<div class="row links-row justify-content-end">
					<div class="col-12 col-lg-6 col-xl-12 links">
						<div class="link">
							<div class="icon fb"></div>
							<div class="title">Facebook:</div>
							<a href="https://www.facebook.com/motionvfx/">https://www.facebook.com/motionvfx/</a> 
						</div>
						<div class="link">
							<div class="icon yt"></div>
							<div class="title">YouTube:</div>
							<a href="https://bit.ly/3xaujrV ">https://bit.ly/3xaujrV</a> 
						</div>
						<div class="link">
							<div class="icon twitter"></div>
							<div class="title">Twitter:</div>
							<a href="https://twitter.com/motionvfx ">https://twitter.com/motionvfx </a> 
						</div>
						<!-- Each creator taking part in this challenge can submit only 1 video.  -->
					</div>
				</div>
			</div>
		</section>

		<section class="sharing">

			<div class="container">
				<div class="row align-items-center">
					<div class="col-12 col-lg-6 text-box">
						<h3>Prizes for everyone</h3>
						<h2>Sharing is caring</h2>
						<p>
							Share your video lorem ipsum folor sit mate video lorem ipsum folor sit mate video lorem ipsum folor sit mate video lorem ipsum folor sit mate video lorem ipsum folor sit mate.
						</p>
					</div>
					<div class="col-12 col-lg-6 col-right">
						<div class="graphic-1 wrapper">
							<div class="image-background">
								<div class="gradient">
									<picture>
										<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/gradient-640.jpg?{{refresh}} 640w,
											https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/gradient-960.jpg?{{refresh}} 960w,
											https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/gradient-1280.jpg?{{refresh}} 1280w,
											https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/gradient-1480.jpg?{{refresh}} 1480w"
											sizes="100vw">
										<img class="img"
											src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/gradient-1480.jpg?{{refresh}}"
											width="1480"
											height="1480"
											alt="">
									</picture>
								</div>
								<div class="ring ring-1"></div>
								<div class="ring ring-2"></div>
								<div class="ring ring-3"></div>
								<div class="planet dollar dollar-1"></div>
								<div class="planet dollar dollar-2"></div>
								<div class="planet dollar dollar-3"></div>
								<div class="planet dollar dollar-4"></div>
								<div class="planet fb"></div>
								<div class="planet ig"></div>
								<div class="planet yt"></div>
								<div class="planet twitter"></div>
								<div class="planet waterfall"></div>
								<div class="planet sunset"></div>
								<div class="planet road"></div>
								<div class="planet red"></div>
								<div class="planet blue"></div>
							</div>
							<p>
								First 300 participants get $50
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="rules light">
			<div class="image-background">
				<picture>
					<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/m16-640.jpg?{{refresh}} 640w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/m16-960.jpg?{{refresh}} 960w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/m16-1280.jpg?{{refresh}} 1280w,
						https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/m16-1794.jpg?{{refresh}} 1794w"
						sizes="100vw">
					<img class="img"
						src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/adventure-1794.jpg?{{refresh}}"
						width="2560"
						height="1050"
						alt="">
				</picture>
			</div>
			<div class="image-floating image-floating-1">
				<picture>
					<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/creator-630.jpg?{{refresh}} 630w"
						sizes="100vw">
					<img class="img-fluid"
						src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/creator-630.jpg?{{refresh}}"
						width="630"
						height="466"
						alt="">
				</picture>
			</div>
			<div class="image-floating image-floating-2">
				<picture>
					<picture>
						<source srcset="https://s3.motionvfx.com/mvfxpublic/products/templates/1355/media/bakers-460.jpg?{{refresh}} 460w"
							sizes="100vw">
						<img class="img-fluid"
							src="https://s3.motionvfx.com/mvfxpublic/products/templates/1353/media/bakers-460.jpg?{{refresh}}"
							width="460"
							height="630"
							alt="">
					</picture>
				</picture>
			</div>


			<div class="container">
				<div class="text">
					<h3>Join the contest</h3>
					<h2>Get the camera rolling!</h2>

					<div class="accordion" id="accordionExample">
						<div class="card">
							<h4 id="heading1" class="card-header active mb-0" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
								How to participate
							</h4>
							<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
								<div class="card-body">
									To get a chance to win one of a range of pro equipment, you need to create a journey video using one of our plugins that we present to participants of the challenge FOR FREE. The mPathChallenge Final Cut Pro and DaVinci Resolve plugin was designed by our creators to liven up your shots and create an energetic vibe in the entire edit.
								</div>
							</div>
						</div>

						<div class="card">
							<h4 id="heading2" class="card-header mb-0" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
								What is mPathChallenge pack
							</h4>
							<div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
								<div class="card-body">
									We have gathered the best for you! mPathChallenge is a pack of effects, LUTs, titles and transitions ready to empower your story. 
									Showcase your steps towards success and define the moments to remember. With this pack of modern typography, engaging effects, cinematic LUTs and diverse transitions you can present your goals and create a unique mood! Don’t wait up - establish a powerful statement using the outstanding style of mPathChallenge pack.
								</div>
							</div>
						</div>

						<div class="card">
							<h4 id="heading3" class="card-header mb-0" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
								How to get the plugin for free
							</h4>
							<div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
								<div class="card-body">
									Get the plugin now and start creating! If you haven’t got an account on our website already, just click here and sign up for free to take part in the challenge. After that, you will get an e-mail with the further instructions. 
								</div>
							</div>
						</div>

						<div class="card">
							<h4 id="heading4" class="card-header mb-0" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
								How to get $50 in store credit
							</h4>
							<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
								<div class="card-body">
									Create a vertical or horizontal video up to 60 seconds telling about your path
									Post your video on YouTube, Twitter or Facebook using hashtag #madewithMotionVFX in your video title and tag @motionvfx in the description: 
									YouTube: https://bit.ly/3xaujrV 
									Facebook: https://www.facebook.com/motionvfx/ 
									Twitter: https://twitter.com/motionvfx 
									Each creator taking part in this challenge can submit only 1 video. 
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="footer">
		</section>

	</div>


			    <div class="submenu-plugins" id="submenu-plugins">
					<div class="submenu-plugins-left-arrow" onclick="clickOnMenuArrow()" ;>
						<img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/arrow_submenu_left.svg" />
					</div>
					<div class="submenu-plugins-left">
						<a id="trailer-menu" onclick="clickOnMenuItem('trailer');">Watch trailer <img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/play_menu.svg" /></a>
						<a id="tutorial-menu" onclick="clickOnMenuItem('tutorial');">Watch tutorial <img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/play_menu.svg" /></a>
						<a id="tech-sec-menu" onclick="clickOnMenuItem('specs');">Technical Specification <img src="https://s3.motionvfx.com/mvfxpublic/products/templates/1227/media/gear_menu.svg" /></a>
					</div>
			    	<div class="submenu-plugins-right">
							
							<!-- {% with discount_text='INTRO', version=1 %}
							{% include 'product/buy_button.jinja2' %}
							{% endwith %} -->
							<div id="btn-buy-container" class="version1">
								<div class="inner-container">
									<span class="promo-label mr-10"> SALE</span>
									<div>
									<a href="#" class="buy-button" data-add-to-cart="{ &quot;productId&quot;: &quot;1913&quot;, &quot;productTitle&quot;: &quot;mWatercolor&quot; }">
										buy now <span class="price-line"> $79</span> <span>$39</span></a>
									<div class="promo-info" style="color:#fff"><span> Hurry up!</span> Valid till July 14, 2021</div>
									</div>
								</div>
							</div>

					</div>
				</div>

</body>

</html>
