
@font-face {
    font-family: Proxima;
    font-weight: 300;
    src: url("./proximanova-light-webfont.woff2") format('woff2');
}
@font-face {
    font-family: Proxima;
    font-weight: 400;
    src: url("./proximanova-regular-webfont.woff2") format('woff2');
}
@font-face {
    font-family: Proxima;
    font-weight: 600;
    src: url("./proximanova-semibold-webfont.woff2") format('woff2');
}@font-face {
    font-family: Proxima;
    font-weight: 700;
    src: url("./proximanova-bold-webfont.woff2") format('woff2');
}


.brand {
  font-family: Proxima Nova;
}
